{% extends 'main.html' %}
{% block headextra %}
    <script type="text/javascript">
    var tab_selected="Summary";
var section_selected="";
    var JSON=null;
jQuery(document).ready(function() {
$("#divcontent").addClass("height_fixed").removeClass("height_auto");

$("#searchtext").focus();

function showtab() {


    var value = JSON[section_selected]["collection_details"][tab_selected];

    var tabdiv = document.getElementById('extra_area');

    if (value) {

        tabdiv.innerHTML = value;
    }
    else
         tabdiv.innerHTML=" ";

}


    $('#searchtext').keypress(function(e){
      if(e.keyCode==13)
      $('#searchbutton').click();
    });

    jQuery('input.tabs').on('click', function(e)  {

        // Show/Hide Tabs

    $( "input.tabs" ).removeClass( "active" );
    $( this ).addClass( "active" );
        var attrib=$(this).attr("value");
        tab_selected=attrib;

        showtab();



        e.preventDefault();
    });

$(document).on('click', '.lks',function(e)  {

        // Show/Hide Tabs

        section_selected=$(this).attr("value");


        showtab();


        e.preventDefault();
    });






    jQuery('#searchbutton').on('click', function(e)  {
    var sk=$('#searchtext').val();

if(jQuery.trim(sk).length <= 0)
{
    $('#info').show();
    $('#info').text('Enter keyword to search...');
    return
}

        $.ajax({
        type: "GET",
        url: "search",
        data: {sk:sk},


        success: function(result) {
        JSON=result;
        if(result.hasOwnProperty('error')){
            $('#info').show();
            $('#info').text(result['error']);
            $("#divcontent").addClass("height_fixed").removeClass("height_auto");


        document.getElementById('extra_area').innerHTML="";
            $('#choice').html("<div id=\"choice\"></div>");


            }
            else {
            var search_info="<div id=\"choice\">";
            $.each(result, function (key, value) {
                    search_info+="</br><b><a class=\"lks\" href=\"#\" value=\""+key+"\">"+key+"</a></b></br>";
                    var t=1;
                    $.each(value.articles_details, function (skey, svalue) {
                        if(t==1)
                        {
                         search_info+="<br/>"+svalue+"<br/>";
                            t=0;
                         }
                        else
                        {
                        search_info+="<br/><a class=\"lks\" href=\"#\" value=\""+key+"\">"+skey+"</a><br/><br/>"+svalue+"<br/>";

                        }


                });
            });
            $('#info').hide();

            search_info+="</div>";
            $('#choice').html(search_info);
            if ($("#choice").height()>10)
                $("#divcontent").addClass("height_auto").removeClass("height_fixed");
            else
                $("#divcontent").addClass("height_fixed").removeClass("height_auto");






        }
    },
        error: function(err) {
        alert(err.toString());

    }
});
    });

$('#searchbutton').click();
});
        </script>
{% endblock %}
{% block content %}
<div id="word" class="hidden">{{ sk }}</div>

<div id="content">


<br/>
    <table id="searchtable" width='100%'>
    <tr>

        <td width="80%"><input type="text" class="searchbox" id="searchtext" name="searchtext" value='{{ sk }}' /></td>
        <td width="2%"></td>

        <td width="18%"><input class="btn" type="button" id="searchbutton" name="searchbutton" value="Search" /></td>


    </tr>

    <tr>
        <td width="100%" colspan="3">
        <div id="info">


        </div>
        </td>
    </tr>
        <tr>
            <td colspan="3">

<div id="choice"></div>
            </td>

        </tr>





</table>

</div>


{% endblock %}

{% block sidecontent %}
    <br/>
<table id="extra_info_table" width="100%" >
<tr>
        <td ><input class="dbtn tabs active" type="button" id="summary" value="Summary" /></td>
        <td ><input class="dbtn tabs" type="button" id="inferences" value="Inferences" /></td>
        <td ><input class="dbtn tabs " type="button" id="links" value="Links"  /></td>


        <td ><input class="dbtn tabs" type="button" id="hierarchy" value="Hierarchy" /></td>
        <td ><input class="dbtn tabs" type="button" id="rep" value="Reps" /></td>
        <td ><input class="dbtn tabs" type="button" id="stats" value="Stats" /></td>

        </tr>
    <tr>
        <td width="100%" colspan="6">
          <div width="100%" id="extra_area"></div>
        </td>
    </tr>
</table>
{% endblock %}
