{% extends 'main.html' %}
{% block headextra %}
    <script type="text/javascript">
jQuery(document).ready(function() {

var tab_selected="Summary";
var section_selected="";
function assigntab(name) {

    section_selected=name;
    showtab();
}
function showtab() {
    var value = JSON[section_selected]["collection_details"][tab_selected];
    alert(value);
    if (value)
        $("#extra_area").innerHTML=value;
    else
         $("#extra_area").innerHTML="";

}


    $('#searchtext').keypress(function(e){
      if(e.keyCode==13)
      $('#searchbutton').click();
    });

    jQuery('input.tabs').on('click', function(e)  {

        // Show/Hide Tabs

    $( "input.tabs" ).removeClass( "active" )
    $( this ).addClass( "active" );
        var attrib=$(this).attr("value");
        section_selected=attrib;

        showtab();

if(param)
      $("textarea#extra_area").val(param);


        e.preventDefault();
    });

$(document).on('click', '.lks',function(e)  {

        // Show/Hide Tabs

        var attrib=$(this).attr("value");

        assigntab(attrib);


        e.preventDefault();
    });






    jQuery('#searchbutton').on('click', function(e)  {
    var sk=$('#searchtext').val();

if(jQuery.trim(sk).length <= 0)
{
    $('#info').show();
    $('#info').text('Enter keyword to search...');
    return
}

        $.ajax({
        type: "GET",
        url: "search",
        data: {sk:sk},


        success: function(result) {
        JSON=result;
        if(result.hasOwnProperty('error')){
            $('#info').show();
            $('#info').text(result['error']);
            $('#choice').html("<div id=\"choice\"></div>");

            }
            else {
            var search_info="<div id=\"choice\">"
            $.each(result, function (key, value) {

                $.each(value.articles_details, function (skey, svalue) {
                    search_info+="<br/><b><a class=\"lks\" href=\"#\" value=\""+key+"\">"+skey+"</a></b><br/>"+svalue+"<br/>";

                });
            });
            $('#info').hide();

            search_info+="</div>"
            $('#choice').html(search_info);


        }
    },
        error: function(err) {
        alert(err.toString());

    }
});
    });

$('#searchbutton').click();
});
        </script>
{% endblock %}
{% block content %}
<div id="word" class="hidden">{{ sk }}</div>

<div id="content">


<br/>
    <table id="searchtable" width='100%'>
    <tr>

        <td width="80%"><input type="text" class="searchbox" id="searchtext" name="searchtext" value='{{ sk }}' /></td>
        <td width="2%"></td>

        <td width="18%"><input class="btn" type="button" id="searchbutton" name="searchbutton" value="Search" /></td>


    </tr>

    <tr>
        <td width="100%" colspan="3">
        <div id="info">


        </div>
        </td>
    </tr>
        <tr>
            <td colspan="3">

                <br/><b>Ryan Suspect</b><br/>The border-color property sets the color of an element's four borders. This  property can have from ... top border is red; right border is green; bottom border is  blue; left border is pink ... HTML DOM reference: borderColor property · «  Previous.
<div id="choice"></div>
            </td>

        </tr>


        <!--tr>
        <td id="page1">

           <div id="choice">


  <select name="json_file" id="json_file" size="10">

   </select>

</div>


        </td>

    </tr-->





</table>

</div>


{% endblock %}

{% block sidecontent %}
    <br/>
<table width="100%" >
<tr>
        <td ><input class="dbtn tabs active" type="button" id="summary" value="Summary" /></td>
        <td ><input class="dbtn tabs" type="button" id="inferences" value="Inferences" /></td>
        <td ><input class="dbtn tabs " type="button" id="links" value="Links"  /></td>


        <td ><input class="dbtn tabs" type="button" id="hierarchy" value="Hierarchy" /></td>
        <td ><input class="dbtn tabs" type="button" id="rep" value="Reps" /></td>
        <td ><input class="dbtn tabs" type="button" id="stats" value="Stats" /></td>

        </tr>
    <tr>
        <td width="100%" colspan="6">
            <div id="extra_area">sdfkjhzdkjhzsdgoii</div>

        </td>
    </tr>
</table>
{% endblock %}
