{% extends 'main.html' %}
{% block headextra %}
    <script type="text/javascript">
jQuery(document).ready(function() {



    $('#searchtext').keypress(function(e){
      if(e.keyCode==13)
      $('#searchbutton').click();
    });



$(document).on('click','#json_file',function(e){
  var json_file=$('#json_file').val();
    if (json_file!=null) {
            var sk=$('#searchtext').val();

        window.location.href = "/details?json_file=" + json_file+"&sk="+sk;
    }
    });




    jQuery('#searchbutton').on('click', function(e)  {
    var sk=$('#searchtext').val();

if(jQuery.trim(sk).length <= 0)
{
    $('#info').show();
    $('#info').text('Enter keyword to search...');
    return
}

        $.ajax({
        type: "GET",
        url: "search",
        data: {sk:sk},


        success: function(result) {
        if(result.hasOwnProperty('error')){
            $('#info').show();
            $('#info').text(result['error']);
            $('#choice').html("<div id=\"choice\"><select name=\"json_file\" size=\"10\" id=\"json_file\"></select></div>");

            }
            else {
            var search_info="<div id=\"choice\"><select name=\"json_file\" id=\"json_file\" size=\"10\">"
            $.each(result, function (key, value) {
                search_info+="<option value=\""+key+"\">"+value+"</option>"
            });
            $('#info').hide();

            search_info+="</select></div>"
            $('#choice').html(search_info);


        }
            $('#page2').addClass('hidden');

            $('#page1').removeClass('hidden');
    },
        error: function(err) {
        alert(err.toString());

    }
});
    });




$('#searchbutton').click();
});
        </script>
{% endblock %}
{% block content %}
<div id="word" class="hidden">{{ sk }}</div>

    <br/>
    <table width='100%' cellspacing="6">
    <tr>

        <td width="70%"><input type="text" class="searchbox" id="searchtext" name="searchtext" value='{{ sk }}' /></td>

        <td width="15%"><input class="btn" type="button" id="searchbutton" name="searchbutton" value="Search" /></td>

        <td width="15%"><input class="btn" type="button" id="plus" value="+" /></td>
    </tr>
    <tr>
        <td colspan="3">
        <div id="info" style="color:white;">


        </div>
        </td>
    </tr>
        <tr>
        <td id="page1">

           <div id="choice">


  <select name="json_file" id="json_file" size="10">

   </select>

</div>


        </td>

    </tr>





</table>






{% endblock %}
