<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="static/js/jquery-1.11.3.min.js"> </script>
    {% block headextra %}{% endblock %}
    <meta charset="UTF-8">
    <title>{%block title%}Neo Alpha{%endblock%}</title>
</head>
<body>
<div class="header">
<div class="text_header">

{% block header %}
<div class="title_header">
    Neo ALPHA
    </div>
    <div class="menu_header">
    <table width='100%'>
        <tr>
            <td width="15%"><a href="/index" style="text-decoration:none;color:black;">Pages</a></td>
            <td width="15%"><a href="/apis" style="text-decoration:none;color:black;">APIs</a></td>
            <td width="70%" align='right'><a href="/settings" style="text-decoration:none;color:black;">Settings</a></td>
        </tr>
    </table>
    </div>

{% endblock %}
</div>
</div>

<div class="content">
<div class="text_content">

{% block content %}

{% endblock %}
</div>
</div>


<div class="footer">
<div class="text_footer">

{% block footer %}

{% endblock %}
</div>
</div>
</body>
</html>